body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

:root {
    --grid-size:16;
  }
  

.grid-board {
    height:400px;
    width:400px;
    display:grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    margin: 40px;
    background: white !important;
    overflow:auto;
}

.block {
    border: 1px dotted red;
    display:inline-block;
    max-width: 100%;
    overflow: hidden;
}

#button-container {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 20px;
}
